
/*Estilo para navbar*/
#link_navbar{
	color:#37898a;
}

#link_navbar:hover {
  background-color:#57683c;
  color: white;
}

#navbarAvp{
	background-color: #F7D403;
}

/*Fin de estilo para navbar*/

.titulo{
	color:#37898a;
	display: inline-block;
	font-family:"impact";
}

.titulo_formulario{
	color:#37898a;
	font-family:"times new roman";
}

.titulo_columna{
	color:#2f5e6f;
}
