{% extends "plantillaBase.html" %}


{% block contenido %}

{% load static %}
<!--CABECERA-->
<center>
	<img src="{% static 'logoAVP1.png' %}" alt="imagenLogo" style="display:inline-block;width:200px;height:90px;float:left;" />
	<h4 style="display: inline-block;"><b>GOBIERNO DE LA PROVINCIA DEL CHUBUT<br><br>ADMINISTRACI&OacuteN DE VIALIDAD PROVINCIAL</b></h4>
	<h5 style="display: inline-block;"><b>PEDIDO DE PRESTACI&OacuteN DE SERVICIOS PARA CARGAR EN CUENTA CORRIENTE</b></h5>
</center>
<br>
<!--FIN DE CABECERA-->

<h4 style="text-decoration: underline;display: inline-block;"><b>N°: {{pasaje.id}}</b></h4>
<h4 style="text-decoration: underline;display: inline-block;padding-left: 230px"><b>PASAJE</b></h4>
<div style="border: 2px solid black;padding: 5px">
	<p><b>MINISTERIO DE HACIENDA Y CR&EacuteDITO P&UacuteBLICO</b></p>
	<p><b>ADMINISTRACI&OacuteN DE VIALIDAD PROVINCIAL</b></p>
	<p><b>Motivo:</b></p>
	<p><b>Otros Motivos: </b></p>
</div>
<p style="float: right;"><b>Orden emitida el dia:</b> {{ pasaje.fecha_emision }}</p>
<br><br>
<!--Datos del pasaje emitido-->
<div>
	<p style="padding-left: 20px">La Empresa: {{ pasaje.id_empresa.nombre }}</p>
	{% if pasaje.id_familiar %}
		<p style="display: inline-block;padding-left: 20px">Entregar&aacute a: {{ pasaje.id_familiar.apellido }},{{ pasaje.id_familiar.nombre }}</p>
		<p style="display: inline-block;padding-left: 250px;">D.N.I: {{ pasaje.id_familiar.documento }}</p>
		<p style="display: inline-block;padding-left: 20px;">Familiar del agente: {{ pasaje.id_agente.apellido }} {{ pasaje.id_agente.nombre }}</p>
	{% else %}
		<p style="display: inline-block;padding-left: 20px">Entregar&aacute a: {{ pasaje.id_agente.apellido }},{{ pasaje.id_agente.nombre }}</p>
		<p style="display: inline-block;padding-left: 250px;">D.N.I: {{ pasaje.id_agente.documento }}</p>
	{% endif %}
	<br>
	<p style="display: inline-block;padding-left: 20px">Un Pasaje V&iacutea: {{pasaje.via}}</p>
	<p style="display: inline-block;margin-left: 100px">Clase: </p>
	<p style="padding-left: 20px">Desde: {{pasaje.origen}}</p>
	<p style="padding-left: 20px">Hasta: {{ pasaje.destino }}</p>
</div>
<!--FIN de Datos del pasaje emitido-->
<p>Cuyo importe cargar&aacute en cuenta corriente otorgada</p>
<p>Firma del funcionario responsable: _____________________________________________</p>
<p>Cargo que desempeña: ______________________________________________________</p>
<p>Recibo por el Servicio BOLETO N°: ____________________________________________</p>
<p style="display: inline-block;">Fecha de pasaje: {{pasaje.fecha_viaje}} &nbsp;&nbsp;&nbsp;&nbsp;</p>
<p style="display: inline-block;">Firma: __________________</p>	


<br><br><br>

<center><b style="margin-bottom: 10px">RESERVADO PARA LA EMPRESA<b></center>

<img src="{% static 'parte_empresa.jpg' %}" alt="imagenLogo" style="margin-top: 5px;width:780px;height:210px;" />

{% endblock %}