{% extends "plantillaBase.html" %}

{% block contenido %}
<!--Cargo el load static por si hay que mostrar alguna imagen desde el directorio assets-->
{% load static %}
<br>
<center><h2 class="titulo">Pasajes emitidos</h2></center>
<!--Valido si se recibe algun mensjae para mostrar-->
{% if messages %}
	<div class="alert alert-success">
	{% for message in messages %}
		<img src="{% static 'ok.png' %}" alt="imagenOk" style="display:inline-block;width: 25px;height: 25px" />
    	<p style="display:inline-block;"><strong>{{ message }}</strong></p>
    {% endfor %}
	</div>
{% endif %}
<br><br>
	{% if pasajes %}
	<table class="datatable display" style="width:100%">
		<thead>
			<tr class="titulo_columna">
				<th>Id pasaje</th>
				<th>Pasajero</th>
				<th>Familiar de</th>
				<th>Empresa</th>
				<th>Via</th>
				<th>Fecha de viaje</th>
				<th>Fecha de emision</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
	    {% for pasaje in pasajes %}
	    	<tr>
	        	<td><b>{{ pasaje.id }}</b></td>
	        	{% if pasaje.id_familiar %}
	        		<td><b>{{ pasaje.id_familiar.apellido }} {{ pasaje.id_familiar.nombre }}</b></td>
	        		<td><b>{{ pasaje.id_agente.apellido }} {{ pasaje.id_agente.nombre }}</b></td>
	     	    {% else %}
	        		<td><b>{{ pasaje.id_agente.apellido }} {{ pasaje.id_agente.nombre }}</b></td>
	        		<td><b> - </b></td>
	        	{% endif %}
	        	<td><b>{{ pasaje.id_empresa.nombre }}</b></td>
	        	<td><b>{{ pasaje.via }}</b></td>
	        	<td><b>{{ pasaje.fecha_viaje }}</b></td>
	        	<td><b>{{ pasaje.fecha_emision }}</b></td>
	        	<td><b>{{ pasaje.origen }}</b></td>
				<td><b>{{ pasaje.destino }}</b></td>
				<td>
	        		<a href="{% url 'bajaPasaje' pasaje.id %}" class="btn btn-danger" style="display: inline-block;"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        		<a href="{% url 'reportePasaje' pasaje.id %}" target="_blank" class="btn btn-info" style="display: inline-block;"><span class="glyphicon glyphicon glyphicon-file"></span> Generar reporte</a>
	        	</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr class="titulo_columna">
				<th>Id pasaje</th>
				<th>Agente</th>
				<th>Familiar</th>
				<th>Empresa</th>
				<th>Via</th>
				<th>Fecha de viaje</th>
				<th>Fecha de emision</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Acciones</th>
			</tr>
		</tfoot>
	</table>
{% else %}
    <p>No hay pasajes a mostrar</p>
{% endif %}
					

{% endblock %}