{% extends "plantillaBase.html" %}

{% block contenido %}
<br>
<a href="{% url 'altaLocalidad' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nueva localidad</a>
<br><br>
{% if localidades %}
	<table class="datatable display" style="width:100%">
		<thead>
		<tr>
			<th>Id localidad</th>
			<th>Nombre localidad</th>
			<th>Acciones</th>
			
		</tr>
		</thead>
		<tbody>
	    {% for localidad in localidades %}
	    	<tr>
	        	<td>{{ localidad.id }}</td>
	        	<td>{{ localidad.nombre }}</td>
	        	<td>
	        		<a href="{% url 'modificacionLocalidad' localidad.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaLocalidad' localidad.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	        	
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr>
				<th>Id localidad</th>
				<th>Nombre localidad</th>
				<th>Acciones</th>
				
			</tr>
		</tfoot>
	    
	</table>
{% else %}
    <p>No hay localidades a mostrar</p>
{% endif %}

		<br><br>
    	<center><a href="{% url 'index' %}"  class="btn btn-info">Volver</a></center>

{% endblock %}