{% extends "plantillaBase.html" %}
{% load static %}
{% block contenido %}
	
		<center><h1 class="titulo">Administraci&oacuten</h1></center>
		<br><br><br> 

		<center>
		<!--Panel URL AGENTES-->
		<div class="panel panel-primary" style="width: 280px;display: inline-block;margin-right: 8px;">
		     <div class="panel-heading">
		     	<a style="color: white;text-decoration: none;width: 20px;" href="{% url 'agente' %}">
		      	<p style="display: inline-block;font-size: 25px;"><b>Agentes</b></p>
		      	<span style="padding-left: 10px;font-size: 28px;padding-top: 5px;" class="glyphicon glyphicon-user"></span>
		      	
		     </div>
	     <div class="panel-body"></div>
	 		</a>
	    </div>
	    <!--Fin panel-->

	    <!--Panel URL LOCALIDADES-->
		<div class="panel panel-primary" style="width: 280px;display: inline-block;margin-right: 8px;">
		     <div class="panel-heading" style="background-color: #4e9e45;">
		     	<a style="color: white;text-decoration: none;width: 20px;" href="{% url 'localidad' %}">
		      	<p style="display: inline-block;font-size: 25px;"><b>Localidades</b></p>
		      	<span style="padding-left: 10px;font-size: 28px;padding-top: 5px;" class="glyphicon glyphicon-home"></span>
		      	
		     </div>
	     <div class="panel-body"></div>
	 		</a>
	    </div>
	    <!--Fin panel-->

	    <!--Panel URL FAMILIARES-->
		<div class="panel panel-primary" style="width: 280px;display: inline-block;margin-right: 8px;">
		     <div class="panel-heading" style="background-color: #9e4568;">
		     	<a style="color: white;text-decoration: none;width: 20px;" href="{% url 'familiar' %}">
		      	<p style="display: inline-block;font-size: 25px;"><b>Familiares</b></p>
		      	<span style="padding-left: 10px;font-size: 28px;padding-top: 5px;" class="glyphicon glyphicon-user"></span>
		      	<span style="font-size: 20px;padding-top: 5px;" class="glyphicon glyphicon-user"></span>
		      	
		     </div>
	     <div class="panel-body"></div>
	 		</a>
	    </div>
	    <!--Fin panel-->

	    <!--Panel URL EMPRESAS-->
		<div class="panel panel-primary" style="width: 280px;display: inline-block;margin-right: 8px;">
		     <div class="panel-heading" style="background-color: #45489e;">
		     	<a style="color: white;text-decoration: none;width: 20px;" href="{% url 'empresa' %}">
		      	<p style="display: inline-block;font-size: 25px;"><b>Empresas</b></p>
		      	<span style="padding-left: 10px;font-size: 28px;padding-top: 5px;" class="glyphicon glyphicon-briefcase"></span>
		      	
		     </div>
	     <div class="panel-body"></div>
	 		</a>
	    </div>
	    <!--Fin panel-->

	    <!--Panel URL PASAJEROS-->
		<div class="panel panel-primary" style="width: 280px;display: inline-block;margin-right: 8px;">
		     <div class="panel-heading" style="background-color: #9e4545;">
		     	<a style="color: white;text-decoration: none;width: 20px;" href="{% url 'pasajero' %}">
		      	<p style="display: inline-block;font-size: 25px;"><b>Pasajeros</b></p>
		      	<span style="padding-left: 10px;font-size: 28px;padding-top: 5px;" class="glyphicon glyphicon-plane"></span>
		      	
		     </div>
	     <div class="panel-body"></div>
	 		</a>
	    </div>
	    <!--Fin panel-->

	    <!--Panel URL PASAJES EMITIDOS-->
		<div class="panel panel-primary" style="width: 280px;display: inline-block;margin-right: 8px;">
		     <div class="panel-heading" style="background-color: #459e76;">
		     	<a style="color: white;text-decoration: none;width: 20px;" href="{% url 'pasaje' %}">
		      	<p style="display: inline-block;font-size: 25px;"><b>Pasajes emitidos</b></p>
		      	<span style="padding-left: 10px;font-size: 28px;padding-top: 5px;" class="glyphicon glyphicon-list-alt"></span>
		      	
		     </div>
	     <div class="panel-body"></div>
	 		</a>
	    </div>
	    <!--Fin panel-->
	    </center>

{% endblock %}