{% extends "plantillaBase.html" %}

{% block contenido %}
<!--Cargo el load static por si hay que mostrar alguna imagen desde el directorio assets-->
{% load static %}
<br>
<!--Valido si se recibe algun mensjae para mostrar-->
{% if messages %}
	<div class="alert alert-success">
	{% for message in messages %}
		<img src="{% static 'ok.png' %}" alt="imagenOk" style="display:inline-block;width: 25px;height: 25px" />
    	<p style="display:inline-block;"><strong>{{ message }}</strong></p>
    {% endfor %}
	</div>
{% endif %}
<a href="{% url 'altaEmpresa' %}" class="btn btn-success" style="display: inline-block;"><span class="glyphicon glyphicon-plus"></span> Nueva empresa</a>
<a href="{% url 'index' %}"  class="btn btn-info" style="display: inline-block;margin-left: 340px">Menu principal</a>
<br><br>
	{% if empresas %}
	<table class="datatable display" style="width:100%">
		<thead>
			<tr>
				<th>Id empresa</th>
				<th>Nombre</th>
				<th>Localidad</th>
				<th>Cuit</th>
				<th>Acciones</th>

			</tr>
		</thead>
		<tbody>
	    {% for empresa in empresas %}
	    	<tr>
	        	<td>{{ empresa.id }}</td>
	        	<td>{{ empresa.nombre }}</td>
	        	<td>{{ empresa.id_localidad.nombre }}</td>
	        	<td>{{ empresa.cuit}}</td>
	        	<td>
	        		<a href="{% url 'modificacionEmpresa' empresa.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaEmpresa' empresa.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr>
				<th>Id empresa</th>
				<th>Nombre</th>
				<th>Localidad</th>
				<th>Cuit</th>
				<th>Acciones</th>

			</tr>
		</tfoot>
	</table>
{% else %}
    <p>No hay empresas a mostrar</p>
{% endif %}


{% endblock %}