{% extends "plantillaBase.html" %}

{% block contenido %}
<br>
<a href="{% url 'altaAgente' %}" class="btn btn-success" style="display: inline-block;"><span class="glyphicon glyphicon-plus"></span> Nuevo agente</a>
<a href="{% url 'index' %}"  class="btn btn-info" style="display: inline-block;margin-left: 340px">Menu principal</a>
<br><br>
{% if agentes %}
	<table class="datatable display" style="width:100%">
		<thead>
			<tr>
				<th>Id agente</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
				<th>Fecha nacimiento</th>
				<th>Localidad</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
	    {% for agen in agentes %}
	    	<tr>
	        	<td>{{ agen.id }}</td>
	        	<td>{{ agen.nombre }}</td>
	        	<td>{{ agen.apellido }}</td>
	        	<td>{{ agen.documento }}</td>
	        	<td>{{ agen.fecha_nacimiento }}</td>
	        	<td>{{ agen.id_localidad.nombre }}</td>
	        	<td>
	        		<a href="{% url 'modificacionAgente' agen.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaAgente' agen.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr>
				<th>Id agente</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
				<th>Fecha nacimiento</th>
				<th>Localidad</th>
				<th>Acciones</th>
			</tr>
		</tfoot>
	</table>
{% else %}
    <p>No hay agentes a mostrar</p>
{% endif %}


{% endblock %}
