{% extends "plantillaBase.html" %}

{% block contenido %}
<br>
<a href="{% url 'abmAgente' %}" class="btn btn-success">Nuevo agente+</a>
<br>
{% if agentes %}
	<table class="table table-hover">
		<tr>
			<th>Id agente</th>
			<th>Nombre agente</th>
			<th>Apellido agente</th>
			<th>DNI</th>
			<th>Fecha nacimiento</th>
			<th>Localidad</th>

		</tr>
	    {% for agen in agentes %}
	    	<tr>
	        	<td>{{ agen.id }}</td>
	        	<td>{{ agen.nombre }}</td>
	        	<td>{{ agen.apellido }}</td>
	        	<td>{{ agen.documento }}</td>
	        	<td>{{ agen.fecha_nacimiento }}</td>
	        	<td>{{ agen.id_localidad.nombre }}</td>
	    	</tr>
	    {% endfor %}
	</table>
{% else %}
    <p>No hay agentes a mostrar</p>
{% endif %}

		<br><br>
    	<center><a href="{% url 'index' %}"  class="btn btn-info">Volver</a></center>

{% endblock %}