{% extends "plantillaBase.html" %}

{% block contenido %}
<!--Cargo el load static por si hay que mostrar alguna imagen desde el directorio assets-->
{% load static %}
<br>
<center><h2 class="titulo">Administraci&oacuten de Familiares</h2></center>
<!--Valido si se recibe algun mensjae para mostrar-->
{% if messages %}
	<div class="alert alert-success">
	{% for message in messages %}
		<img src="{% static 'ok.png' %}" alt="imagenOk" style="display:inline-block;width: 25px;height: 25px" />
    	<p style="display:inline-block;"><strong>{{ message }}</strong></p>
    {% endfor %}
	</div>
{% endif %}
<a href="{% url 'altaFamiliar' %}" class="btn btn-success" style="display: inline-block;"><span class="glyphicon glyphicon-plus"></span> Nuevo familiar</a>

<br><br>
	{% if familiares %}
	<table class="datatable display" style="width:100%">
		<thead>
			<tr class="titulo_columna">
				<th>Id familiar</th>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Fecha nacimiento</th>
				<th>Localidad</th>
				<th>Familiar de</th>
				<th>Acciones</th>

			</tr>
		</thead>
		<tbody>
	    {% for familiar in familiares %}
	    	<tr>
	        	<td><b>{{ familiar.id }}</b></td>
	        	<td><b>{{ familiar.apellido }}</b></td>
	        	<td><b>{{ familiar.nombre }}</b></td>
	        	<td><b>{{ familiar.documento }}</b></td>
	        	<td><b>{{ familiar.fecha_nacimiento }}</b></td>
	        	<td><b>{{ familiar.id_localidad.nombre }}</b></td>
	        	<td><b>{{ familiar.id_agente.apellido  }} {{ familiar.id_agente.nombre }}</b></td>
	        	<td>
	        		<a href="{% url 'modificacionFamiliar' familiar.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaFamiliar' familiar.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr class="titulo_columna">
				<th>Id familiar</th>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Fecha nacimiento</th>
				<th>Localidad</th>
				<th>Familiar de</th>
				<th>Acciones</th>

			</tr>
		</tfoot>
	</table>
{% else %}
    <p>No hay familiares a mostrar</p>
{% endif %}
		

{% endblock %}