{% extends "plantillaBase.html" %}
{% load static %}
{% block contenido %}
	
		<center><h1 class="titulo">Administraci&oacuten</h1></center>
		<br><br><br> 
		 <div class="list-group" >
		  
		  <li class="list-group-item"><i class="material-icons">person</i> <a style="font-size: 18px;" href="{% url 'agente' %}">Adm.Agentes</a></li>
		  
		  <li class="list-group-item"><i class="material-icons">location_city</i> <a style="font-size: 18px;" href="{% url 'localidad' %}">Adm.Localidades</a></li>
		  
		  <li class="list-group-item"><i class="material-icons">group</i> <a style="font-size: 18px;" href="{% url 'familiar' %}">Adm.Familiares</a></li>
		  
		  <li class="list-group-item"><i class="material-icons">business</i> <a style="font-size: 18px;" href="{% url 'empresa' %}">Adm.Empresas</a></li>

		  <li class="list-group-item"><i class="material-icons">business</i> <a style="font-size: 18px;" href="{% url 'pasajero' %}">Adm.Pasajeros</a></li>
		  
		  <li class="list-group-item"><i class="material-icons">confirmation_number</i> <a style="font-size: 18px;" href="{% url 'pasaje' %}">Pasajes emitidos</a></li>
		
		</div> 

	

{% endblock %}