{% extends "plantillaBase.html" %}

{% block contenido %}
<br>
<a href="{% url 'altaEmpresa' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nueva empresa</a>
<br><br>
	{% if empresas %}
	<table class="datatable display" style="width:100%">
		<thead>
			<tr>
				<th>Id empresa</th>
				<th>Nombre</th>
				<th>Localidad</th>
				<th>Cuit</th>
				<th>Acciones</th>

			</tr>
		</thead>
		<tbody>
	    {% for empresa in empresas %}
	    	<tr>
	        	<td>{{ empresa.id }}</td>
	        	<td>{{ empresa.nombre }}</td>
	        	<td>{{ empresa.id_localidad.nombre }}</td>
	        	<td>{{ empresa.cuit}}</td>
	        	<td>
	        		<a href="{% url 'modificacionEmpresa' empresa.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaEmpresa' empresa.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr>
				<th>Id empresa</th>
				<th>Nombre</th>
				<th>Localidad</th>
				<th>Cuit</th>
				<th>Acciones</th>

			</tr>
		</tfoot>
	</table>
{% else %}
    <p>No hay empresas a mostrar</p>
{% endif %}

		<br><br>
    	<center><a href="{% url 'index' %}"  class="btn btn-info">Volver</a></center>

{% endblock %}