{% extends "plantillaBase.html" %}

{% block contenido %}
<!--Cargo el load static por si hay que mostrar alguna imagen desde el directorio assets-->
{% load static %}
<br>
<center><h2 class="titulo">Administraci&oacuten de Localidades</h2></center>
<!--Valido si se recibe algun mensjae para mostrar-->
{% if messages %}
	<div class="alert alert-success">
	{% for message in messages %}
		<img src="{% static 'ok.png' %}" alt="imagenOk" style="display:inline-block;width: 25px;height: 25px" />
    	<p style="display:inline-block;"><strong>{{ message }}</strong></p>
    {% endfor %}
	</div>
{% endif %}
<a href="{% url 'altaLocalidad' %}" class="btn btn-success" style="display: inline-block;"><span class="glyphicon glyphicon-plus"></span> Nueva localidad</a>

<br><br>
{% if localidades %}
	<table class="datatable display" style="width:100%">
		<thead>
		<tr class="titulo_columna">
			<th>Id localidad</th>
			<th>Nombre localidad</th>
			<th>Acciones</th>
			
		</tr>
		</thead>
		<tbody>
	    {% for localidad in localidades %}
	    	<tr>
	        	<td><b>{{ localidad.id }}</b></td>
	        	<td><b>{{ localidad.nombre }}</b></td>
	        	<td>
	        		<a href="{% url 'modificacionLocalidad' localidad.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaLocalidad' localidad.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	        	
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr class="titulo_columna">
				<th>Id localidad</th>
				<th>Nombre localidad</th>
				<th>Acciones</th>
				
			</tr>
		</tfoot>
	    
	</table>
{% else %}
    <p>No hay localidades a mostrar</p>
{% endif %}

{% endblock %}