{% extends "plantillaBase.html" %}

{% block contenido %}
<br>
<a href="{% url 'altaFamiliar' %}" class="btn btn-success" style="display: inline-block;"><span class="glyphicon glyphicon-plus"></span> Nuevo familiar</a>
<a href="{% url 'index' %}"  class="btn btn-info" style="display: inline-block;margin-left: 340px">Menu principal</a>
<br><br>
	{% if familiares %}
	<table class="datatable display" style="width:100%">
		<thead>
			<tr>
				<th>Id familiar</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
				<th>Fecha nacimiento</th>
				<th>Localidad</th>
				<th>Familiar de</th>
				<th>Acciones</th>

			</tr>
		</thead>
		<tbody>
	    {% for familiar in familiares %}
	    	<tr>
	        	<td>{{ familiar.id }}</td>
	        	<td>{{ familiar.nombre }}</td>
	        	<td>{{ familiar.apellido }}</td>
	        	<td>{{ familiar.documento }}</td>
	        	<td>{{ familiar.fecha_nacimiento }}</td>
	        	<td>{{ familiar.id_localidad.nombre }}</td>
	        	<td>{{ familiar.id_agente.apellido  }} {{ familiar.id_agente.nombre }}</td>
	        	<td>
	        		<a href="{% url 'modificacionFamiliar' familiar.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar</a>
	        		<a href="{% url 'bajaFamiliar' familiar.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
	        	</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    <tfoot>
			<tr>
				<th>Id familiar</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
				<th>Fecha nacimiento</th>
				<th>Localidad</th>
				<th>Familiar de</th>
				<th>Acciones</th>

			</tr>
		</tfoot>
	</table>
{% else %}
    <p>No hay familiares a mostrar</p>
{% endif %}
		

{% endblock %}