{% extends "plantillaBase.html" %}

{% block contenido %}
	<center><h3 class="titulo_formulario">{{titulo}}</h3></center>
	<br>
	<form action="" method="POST" target="_blank">{% csrf_token %}
		<label><b>Pasajero:</b></label>
		{% if pasajero.id_familiar.id %}
			<input type="text" placeholder="{{pasajero.id_familiar.apellido}} {{pasajero.id_familiar.nombre}}" disabled readonly>
		{% else %}
			<input type="text" placeholder="{{pasajero.id_agente.apellido}} {{pasajero.id_agente.nombre}}" disabled readonly>
		{% endif %}
		{{form.as_p}}
		<br>
		<center>
			<button type="submit" class="btn btn-success">Generar pasaje <span class="glyphicon glyphicon-list-alt"></span></button>
			<a href="{% url 'pasajero' %}"  class="btn btn-info">
				 Volver <span class="glyphicon glyphicon-arrow-right"></span>
			</a>
		</center>
	</form>
	
{% endblock %}